<!DOCTYPE html>

<html>

    <head>
        <meta charset = "UTF-8">
        <title> Global Temperature Anomalies </title>
    </head>

    <body>
        <h1> Global Land and Ocean Temperature Anomalies </h1>

        <div id = "svg"></div>
        
        <button id = "load"> Load </button>
        <button id = "next"> Next Year </button>
    </body>

    <script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>
    <script src = "static/script.js"></script>

</html>