<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
      Team PineapplePizza
      <br>
      Justin Chen and Brian Moses
      <hr>
      Hello {{username}}!
      <br>
      {% if num == 0 %}
      You ever try pineapples with ketchup?
      {% endif %}

      {% if num == 1 %}
      You ever try pineapples on a burger?
      {% endif %}

      {% if num == 2 %}
      You ever try a pineapple sandwich?
      {% endif %}
      <br> <br>
      (Method used: {{method}})
    </body>
</html>